#bdy {
  background-color: #d6dbdf;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: bolder;
}

h1 {
  /* text-shadow: 3px 3px 0px rgba(255, 255, 255, 1),5px 4px 0px rgba(0, 0, 0, 0.15); */
  color: #17a589;
  width: 200px;
  background-color: #5d6d7e;
  border-radius: 20px;
  text-align: center;
  padding: 8px;
  border: 3px solid #f0f0f0;
  margin-bottom: 15px;
  font-family: bolder;
  font-size: 30px;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5d6d7e;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  padding: 12px;
  border-radius: 50px;
  border: 3px solid #f0f0f0;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #aeb6bf;
  border: 3px solid #f0f0f0;
  font-size: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.cell:hover {
  background-color: #bbb9b9;
}

#reset:hover {
  background-color: #bbb9b9;
}

.cell.x {
  color: #17a589;
}

.cell.o {
  color: #3498db;
}

.bn30 .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

#message {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-radius: 18px;
  margin-top: -5px;
  font-size: 22px;
  border-color: #bbb9b9;
  background-color: #5e7783;
  border: 2px solid #f0f0f0;
  padding: 15px;
  height: 20px;
  width: 92px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: #3498db;
  letter-spacing: 1px;
}

@media screen and (max-width: 412px) {
  h1 {
    width: 180px;
    font-size: 30px;
  }

  #game-container {
    width: 350px;
  }

  .cell {
    width: 90px;
    height: 90px;
  }

  .cell:hover {
    background-color: #6a1b9a;
  }
  #message {
    height: 20px;
    width: 80px;
    font-size: 18px;
  }
}
